---
import Layout from "../layouts/Layout.astro";

type Category = {
  category: string;
};

const response = await fetch("https://kea-alt-del.dk/t7/api/categories");
const categories: Category[] = await response.json();
---

<Layout>
  <header>
    <a href="/">
      <h1>Fashion R Us</h1>
    </a>
  </header>
  <main id="indexMain">
    <h1 class="overview">Categories</h1>
    <section class="category">
      {
        categories.map((category: Category) => (
          <a href={`/productlist?category=${category.category}`} class="box">
            {category.category}
          </a>
        ))
      }
    </section>
  </main>
</Layout>
